.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  padding-top: 15px;
}
.card {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.7);
  width: 150px;
  height: 250px;
  border-radius: 15px;
  margin: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.card a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #000;
}
.card .id {
  padding: 10px 10px 0;
}
.card .picPoke {
  width: 100px;
}
.card:hover .picPoke {
  transform: scale(1.2);
}
.sold-out {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  font-size: 25px;
  color: crimson;
  transform: translateX(-50%);
  line-height: 30px;
  font-weight: 800;
  text-align: center;
  z-index: 2;
}
.stock {
  position: absolute;
  bottom: 35px;
  color: crimson;
  text-transform: uppercase;
  font-weight: 900;
}
.namePrice {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.namePrice span {
  width: 100%;
  margin: 5px auto;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}
.card:hover .addCart button {
  opacity: 1;
}
.addCart {
  width: 100%;
  height: 35px;
}
.addCart button {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: linear-gradient(to top, #f1f1f1, transparent);
  height: 100%;
  width: 100%;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
.addCart button img {
  height: 100%;
  width: 20px;
  margin-right: 5px;
}

@media screen and (max-width: 800px) {
  .card {
    width: 100px;
    height: 200px;
    margin: 10px 10px;
  }
  .card .picPoke {
    width: 70px;
  }
  .namePrice span {
    font-size: 15px;
  }
  .stock {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .sold-out {
    font-size: 20px;
    line-height: 25px;
  }
  .addCart button {
    opacity: 1;
  }
}
@media screen and (max-width: 550px) {
  .card-container {
    padding: 0;
  }
  .card {
    width: 50px;
    height: 150px;
    margin: 10px 3px;
  }
  .card .picPoke {
    width: 40px;
  }
  .card .id {
    font-size: 8px;
  }
  .namePrice span {
    font-size: 10px;
  }
  .stock {
    font-size: 8px;
    text-align: center;
    margin-bottom: 3px;
  }
  .sold-out {
    font-size: 13px;
    line-height: 15px;
  }
  .addCart {
    height: 25px;
  }
  .addCart button p {
    display: none;
  }
  .addCart button img {
    width: 20px;
    height: 20px;
  }
}
