.panier-container {
  padding-top: 100px;
  width: 100%;
}
.cart {
  position: relative;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}
.cart h2 {
  font-size: 60px;
  text-align: center;
  color: #ffcb05;
}
.empty {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty p {
  font-size: 50px;
  text-align: center;
  color: #3b5ba7;
}
.magasin {
  color: #ffcb05;
}
.englobant {
  display: flex;
}
.panier {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  border: 2px solid #333;
  box-shadow: 3px 3px 10px 5px rgba(255, 255, 255, 0.2);
}
.pic {
  width: 100px;
  height: 100px;
  margin: 15px;
  flex: 1;
}
.panier p,
.panier span {
  flex: 1;
  font-size: 25px;
  font-weight: 600;
  color: #3b5ba7;
  word-wrap: break-word;
  text-align: center;
  line-height: 35px;
}
.quantity {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.quantity button,
.remove {
  width: 40px;
  height: 40px;
  margin: 10px 15px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 5px;
}
.remove {
  margin-right: 10px;
}
.remove img,
.quantity button img {
  width: 20px;
  height: 20px;
}
.resumeCart {
  flex: 3;
  background-image: url("../../assets/fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #333;
  box-shadow: 3px 3px 10px 5px rgba(255, 255, 255, 0.2);
  margin: 10px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.line {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.resumeCart h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.5;
  padding: 5px;
  color: #ffcb05;
}
.resumeCart p {
  padding: 10px;
}
.resumeCart p,
.resumeCart span {
  font-size: 22px;

  color: #ffcb05;
}
.commande {
  width: 90%;
  margin: 0 auto 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  background: #ffcb05;
  color: #3b5ba7;
}
.commande img {
  width: 30px;
  height: 30px;
  margin: 0 15px;
}
.back {
  top: -15px;
}
.fade-leave-active {
  transition: opacity 1s;
}
.fade-leave {
  opacity: 1;
}
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@media screen and (max-width: 1250px) {
  .quantity button {
    margin: 0 3px;
  }
  .panier p {
    font-size: 20px;
  }
  .commande {
    font-size: 15px;
  }
}
@media screen and (max-width: 900px) {
  .quantity button {
    height: 25px;
    margin: 5px 3px;
    width: 25px;
  }
  .quantity button img {
    height: 15px;
    width: 15px;
  }
  .quantity p {
    display: none;
  }
  .cart h2 {
    font-size: 45px;
  }
  .empty p {
    font-size: 35px;
  }
  .pic {
    width: 60px;
    height: 60px;
  }
  .panier p {
    font-size: 18px;
  }
  .remove {
    margin: 0;
  }
  .englobant {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .back {
    top: -40px;
  }
  .cart h2 {
    font-size: 40px;
  }
  .empty p {
    font-size: 30px;
  }
  .panier p {
    font-size: 12px;
  }
}
